.tech-stack {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding-bottom: 20px;
  background-color: transparent;
  position: relative;
}

.tech-stack::before,
.tech-stack::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 2;
  pointer-events: none;
}

.tech-stack::before {
  left: 0;
  background: linear-gradient(to right, transparent, transparent);
}

.tech-stack::after {
  right: 0;
  background: linear-gradient(to left, transparent, transparent);
}

.tech-stack-slider,
.language-tech-stack-slider {
  display: flex;
  gap: 60px;
  animation: scroll 35s linear infinite;
  margin-top: 40px;
}

.language-tech-stack-slider {
  animation-direction: reverse;
}

.tech-logo {
  width: auto;
  height: 75px;
  object-fit: contain;
  flex-shrink: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-125%);
  }
}

@media (max-width: 768px) {
  .tech-stack-slider,
  .language-tech-stack-slider {
    animation-duration: 1000s;
    gap: 45px;
    margin-top: 20px;
  }

  .tech-logo {
    width: auto;
    height: 50px;
  }

  .tech-stack {
    padding-bottom: 15px;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 480px) {
  .tech-stack-slider,
  .language-tech-stack-slider {
    animation-duration: 100s;
    gap: 30px;
    margin-top: 15px;
  }

  .tech-logo {
    width: auto;
    height: 40px;
  }

  .tech-stack {
    padding-bottom: 10px;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-1000%);
    }
  }
}
